<footer class="container-fluid bg-light mt-3">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		{% if not app.user %}
			<li class="nav-item">
				<a href="{{ path('home_get_the_last_ten_posts') }}" class="nav-link px-2 text-white-50">
					Accueil
				</a>
			</li>
		{% endif %}
		{% if (not app.user) or (is_granted("ROLE_ADMIN")) %}
			<li class="nav-item">
				<a class="nav-link px-2  text-white-50" aria-current=" tous les articles" href=" {{ path('post_get_all_posts') }} ">
					Tous les articles publi&eacute;s
				</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link px-2  text-white-50" aria-current=" tous les articles" href=" {{ path('post_get_published_posts_connected_user') }} ">
					Tous les articles publi&eacute;s
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link px-2  text-white-50" aria-current=" tous les articles non publiés" href="{{ path('post_get_unpublihed_posts_connected_user') }}">
					Tous les articles non publi&eacute;s
				</a>

			</li>

		{% endif %}

		{% include "partials/dropdown/_dropdown_category_footer.html.twig" %}

		<li class="nav-item">
			<a href="#" class="nav-link px-2  text-white-50" aria-current=" &agrave; propos">
				&Agrave; propos
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2  text-white-50" aria-current="contact">
				Contact
			</a>
		</li>
	</ul>
	<p class="text-center text-dark-50">
		&copy; 2023 Mon Blog.
	</p>
</footer>
