{% set route = app.request.attributes.get('_route') %}
<div>
	{% if route == 'security_register' %}
		<button type="submit" class="btn btn-lg btn-primary">
			S'inscrire
		</button>
	{% endif %}

	{% if route == 'security_login' %}
		<button type="submit" class="btn btn-lg btn-primary">
			Se connecter
		</button>
	{% endif %}

	{% if route == 'post_create_post' %}
		<button type="submit" class="btn btn-lg btn-primary">
			Publier l'article
		</button>
	{% endif %}

	{% if route == 'post_edit_post_by_slug' %}
		<button type="submit" class="btn btn-lg btn-primary">
			Modifier l'article
		</button>
	{% endif %}
</div>
