<div class="d-flex justify-content-end mx-4">
	{% if (app.request.get('q') is not null) %}
		<a class="aria-current=" haut de page"" href="{{ path(app.request.attributes.get('_route'), {'q' : app.request.query.get('q'), 'page': app.request.query.get('page')}) }}">
		{% else %}
			<a class="aria-current=" haut de page"" href="{{ path(app.current_route, app.current_route_parameters|merge({'page': app.request.query.get('page')})) }}">
			{% endif %}
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-square" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
			</svg>
		</a>
	</div>
