<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=1">
		<title>
			{% block title %}{% endblock %}- Mon Blog</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body id="{% block body_id %}{% endblock %}">

		{% block header %}
			<header class="blog-header">
				<div class="nav-scroller mb-2">
					{% include "partials/navigation/_navbar.html.twig" %}
				</div>
			</header>
		{% endblock %}

		{% include "partials/_flash.html.twig" %}
		<main class="container body-container">
			{% block body %}
				<div class="row m-auto">
					{% block main %}{% endblock %}
				</div>
			{% endblock %}
		</main>

		{% block arrows_up_square %}
			{% include "partials/arrows/_arrow_up_square.html.twig" %}
		{% endblock %}

		{% block footer %}
			{% include "partials/_footer.html.twig" %}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
