<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=1">
		<title>
			{% block title %}{% endblock %}- Mon Blog</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body id="{% block body_id %}{% endblock %}">

		{% block header %}
			<header class="blog-header">
				<div class="nav-scroller mb-2">
					{% include "partials/navigation/_navbar.security.html.twig" %}
				</div>
			</header>
		{% endblock %}

		{% include "partials/_flash.html.twig" %}
		<main class="container">
			{% block body %}
				<div class="row m-auto">
					{% block main %}{% endblock %}
				</div>
			{% endblock %}
		</main>


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</body>
</html>
