{% extends 'base.security.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body_id 'register' %}

{% block main %}
	<main class="container">
		<h1 class="my-5 mx-auto text-center">
			Inscription
		</h1>
		<div class="row">
			{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}
			) }}

			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.pseudo) }}
			{{ form_row(registrationForm.plainPassword) }}
			{{ form_row(registrationForm.RGPDConsent) }}
			{% include "partials/_submit_button.html.twig" %}
			{{ form_end(registrationForm) }}
		</div>
	</main>
{% endblock %}
