<div class="dropdown show ms-3">
	<a class="nav-link btn btn-outline text-white-50 dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Cat&eacute;gories
	</a>
	<div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
		{% for category in categoriesNavBar() %}
			{% if (not app.user) or (is_granted("ROLE_ADMIN")) %}
				<a class="dropdown-item text-dark-50" href="{{ path('category_get_all_posts_of_category_by_slug', { slug: category.slug}) }}">
				{% else %}
					<a class="dropdown-item text-dark-50" href="{{ path('category_get_posts_of_category_of_user', { slug: category.slug}) }}">
					{% endif %}
					{{ category.name|capitalize }}
				</a>
			{% endfor %}
		</div>
	</div>
