<div class="dropdown show m-2">
	<a class="nav-link {{ app.request.attributes.get('_route') == 'category_get_all_posts_of_category_by_slug' or
				app.request.attributes.get('_route') == 'category_get_posts_of_category_of_user'
				? 'active' : '' }}
				btn btn-outline-primary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Cat&eacute;gories
	</a>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		{% for category in categoriesNavBar() %}
			{% if (not app.user) or (is_granted("ROLE_ADMIN")) %}
				<a class="dropdown-item" href="{{ path('category_get_all_posts_of_category_by_slug', { slug: category.slug}) }}">
				{% else %}
					<a class="dropdown-item" href="{{ path('category_get_posts_of_category_of_user', { slug: category.slug}) }}">
					{% endif %}
					{{ category.name|capitalize }}
				</a>
			{% endfor %}
		</div>
	</div>
