{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body_id 'home_get_the_last_ten_posts' %}

{% block main %}

	<header>
		<h1 class="mx-auto my-5 text-center">Les
			{{ posts|length}}
			derniers articles publi&eacute;s</h1>
	</header>
	{% for post in posts %}
		{% include "partials/_article.html.twig" with { post: post } only %}
	{% endfor %}

{% endblock %}
