{% extends 'base.html.twig' %}

{% block title %}
	Cr&eacute;ation&nbsp;d&apos;un&nbsp;article
{% endblock %}

{% block body_id 'post_create_post' %}

{% block main %}
	<header>
		<h1 class="mx-auto my-5 text-center">
			Cr&eacute;ation d&apos;un article
		</h1>
	</header>
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}
	) }}

	{{ form_row(form.title) }}
	{{ form_row(form.content) }}
	{{ form_row(form.isPublished) }}
	{{ form_row(form.image) }}
	{{ form_row(form.category) }}
	{% include "partials/_submit_button.html.twig" %}
	{{ form_end(form) }}
{% endblock %}
