{% extends 'base.html.twig' %}

{% block title %}Articles de
	{{ user.pseudo}}
{% endblock %}

{% block body_id 'user_get_all_posts_of_user_by_pseudo' %}

{% block main %}
	<h1 class="mx-auto my-5 text-center">
		{% if posts.getTotalItemCount == 0 %}
			Aucun article
		{% elseif posts.getTotalItemCount == 1 %}
			Article publi&eacute; par
			{{ user.pseudo }}
		{% else %}
			Liste des
			{{ posts.getTotalItemCount }}
			articles publi&eacute;s par
			{{ user.pseudo|capitalize }}
		{% endif %}
	</h1>


	{% for post in posts %}
		{% include "partials/_article.html.twig" with { post: post } only %}
	{% endfor %}

	{% include "partials/pagination/_pagination.html.twig" %}


{% endblock %}
