{% extends 'base.html.twig' %}

{% block title %}
	Articles
{% endblock %}

{% block body_id 'post_get_all_posts' %}

{% block main %}
	<header>
		<h1 class="mx-auto my-5 text-center">
			{% if posts.getTotalItemCount == 0 %}
				Aucun article
			{% elseif posts.getTotalItemCount == 1 %}
				Article publi&eacute;
			{% else %}
				Liste des
				{{ posts.getTotalItemCount }}
				articles publi&eacute;s
			{% endif %}
		</h1>
	</header>

	{% for post in posts %}
		{% include "partials/_article.html.twig" with { post: post } only %}
	{% endfor %}

	{% include "partials/pagination/_pagination.html.twig" %}

{% endblock %}
