{% extends 'base.html.twig' %}

{% block title %}Articles cat&eacute;gorie
	{{ category.name|capitalize}}
{% endblock %}

{% block body_id 'category_get_all_posts_of_category_by_slug' %}

{% block main %}
	<h1 class="mx-auto my-5 text-center">
		{% if posts.getTotalItemCount == 0 %}
			Aucun article
		{% elseif posts.getTotalItemCount == 1 %}
			Article publi&eacute; pour la cat&eacute;gorie
			{{ category.name|capitalize }}
		{% else %}
			Liste des
			{{ posts.getTotalItemCount }}
			articles publi&eacute;s pour la cat&eacute;gorie
			{{ category.name|capitalize }}
		{% endif %}
	</h1>


	{% for post in posts %}
		{% include "partials/_article.html.twig" with { post: post } only %}
	{% endfor %}

	{% include "partials/pagination/_pagination.html.twig" %}

{% endblock %}
