{% extends 'base.html.twig' %}

{% block title %}
	Article
	{{ post.title}}
{% endblock %}

{% block body_id 'post_get_post_by_slug' %}

{% block main %}
	{% if app.user %}
		<a href="{{ path('post_get_published_posts_connected_user') }}" class="col-1 mt-3">
		{% else %}
			<a href="{{ path('home_get_the_last_ten_posts') }}" class="col-1 mt-3">
			{% endif %}
			{% include "partials/_home_svg.html.twig" %}		
		</a>

		<article class="row my-3">
			<h1 class="mx-auto my-5 text-center">
				Article :
				{{ post }}
			</h1>
			<div>
				{% include "partials/cards/_card.html.twig" with { post: post } only %}
			</div>
		</article>
		<div class="mt-3">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentModal" data-bs-whatever="@mdo">
				Ajouter un commentaire
			</button>
			{% include "partials/modal/_modal_create_comment.html.twig" %}
		</div>

		{% if comments|length > 0 %}
			{% include "partials/cards/_card.comment.html.twig" with { comments: comments } only %}
		{% endif %}

	{% endblock %}
