{% extends 'base.html.twig' %}

{% block title %}Articles non publi&eacute;s
{% endblock %}

{% block body_id 'post_get_unpublihed_posts_connected_user' %}

{% block main %}
	<h1 class="mx-auto my-5 text-center">
		{% if posts.getTotalItemCount == 0 %}
			Aucun article
		{% elseif posts.getTotalItemCount == 1 %}
			Article non publi&eacute;
		{% else %}
			Liste des
			{{ posts.getTotalItemCount }}
			articles non publi&eacute;s
		{% endif %}
	</h1>

	{% for post in posts %}
		{% include "partials/_article.html.twig" with { post: post } only %}
	{% endfor %}

	{% include "partials/pagination/_pagination.html.twig" %}

{% endblock %}
