{% if pageCount > 1 %}
	<nav aria-label="barre de navigation">
		<ul class="pagination justify-content-center">

			{% if previous is defined %}
				<li class="page-item">
					<a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="page pr&eacute;c&eacute;dente">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% endif %}

			{% for page in pagesInRange %}
				{% if page == current %}
					<li class="page-item active" aria-current="page courante">
					{% else %}
						<li class="page-item">
						{% endif %}
						<a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
					</li>
				{% endfor %}

				{% if next is defined %}
					<li class="page-item">
						<a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="page suivante">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% endif %}

			</ul>
		</nav>
	{% endif %}
