<h1>
	Activez votre compte
</h1>
<p>
	Bonjour
	{{ user.pseudo|capitalize }}
	,
</p>
<p>
	Votre inscription sur le site monblog.com est à valider en cliquant sur le lien ci-dessous :
</p>
<p>
	<a href="{{ absolute_url(path("security_verify", {token: token})) }}">
		Lien
	</a>
</p>
<p>
	Ce lien expirera dans 2 heures.
</p>
