@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fontsource/roboto-condensed";

body {
  background-color: $lightgreen;
}

label.required:before {
  content: "*";
  color: red;
}
