{% set countApproved = 0 %}
{% for commentApproved in comments %}
	{% if commentApproved.isApproved == true %}
		{% set countApproved = countApproved + 1 %}
	{% endif %}
{% endfor %}

<section class="row my-3 card-group">
	<h2 class="text-center mt-5">
		{{ countApproved == 0 ? '' : countApproved > 1 ? 'Commentaires :' : 'Commentaire :'}}
	</h2>
	{% for comment in comments %}
		{% if comment.isApproved == true %}
			<div class="gx-5">
				<div class="card my-3 mx-3 border border-dark rounded">
					<div class="card-body">
						<h5 class="card-title text-center">
							{{ comment.nickname|capitalize }}
						</h5>
						<p class="card-text">
							{{ comment.content }}
						</p>
					</div>
					<time class="card-footer text-muted text-center">
						commenté :
						{{ comment.createdAt|ago(locale='fr') }}
					</time>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</section>
