{% set countApproved = 0 %}
{% for commentApproved in post.comments %}
	{% if commentApproved.isApproved == true %}
		{% set countApproved = countApproved + 1 %}
	{% endif %}
{% endfor %}

<div class="my-3 card-group">

	<div class="mx-auto mb-1 card h-100 border border-dark rounded border-1" style="width: 18rem; --bs-border-opacity: .6;">
		{% if (app.current_route == 'post_get_post_by_slug') %}
			<img src="{{ asset('uploads/' ~ post.image) | imagine_filter('full') }}" alt="image article" class="shadow-sm p-3 mb-3 bg-body-tertiary rounded">
		{% else %}
			<img src="{{ asset('uploads/' ~ post.image) | imagine_filter('miniature') }}" alt="image article" class="shadow-sm p-3 mb-3 bg-body-tertiary rounded">
		{% endif %}


		<div class="card-body">
			{% for category in post.category %}
				{% if app.user %}
					<a href="{{ path('category_get_posts_of_category_of_user', { slug: category.slug}) }}" class="btn badge rounded-pill bg-info text-dark mb-3 text-decoration-none">
					{% else %}
						<a href="{{ path('category_get_all_posts_of_category_by_slug', { slug: category.slug}) }}" class="btn badge rounded-pill bg-info text-dark mb-3 text-decoration-none">
						{% endif %}
						{{ category|capitalize }}
					</a>
				{% endfor %}

				{% if (app.current_route == 'home_get_the_last_ten_posts') 
				or (app.current_route == 'post_get_all_posts') 
				or (app.current_route == 'category_get_all_posts_of_category_by_slug')
				or (app.current_route == 'user_get_all_posts_of_user_by_pseudo')
				or (app.current_route == 'post_get_published_posts_connected_user')
				or (app.current_route == 'post_get_unpublihed_posts_connected_user')
				or (app.current_route == 'category_get_posts_of_category_of_user')
				%}

					<h5 class="card-title">
						{{ post.title|u.truncate(20, '...', true) }}
					</h5>


					<time class="mb-1 text-muted">
						Publi&eacute;&nbsp; :
						{{ post.updatedAt|ago(locale='fr') }}
					</time>
					<div class="mb-1 text-muted">
						Auteur&nbsp;:
						<a href="{{ path('user_get_all_posts_of_user_by_pseudo', { pseudo: post.user.pseudo}) }}" class="btn btn-outline-secondary  btn-sm">
							{{ post.user.pseudo|capitalize }}
						</a>
					</div>

					{% if countApproved == 1 %}
						<div class="mb-1 text-muted">
							Commentaire :
							{{ countApproved}}
						</div>
					{% elseif countApproved > 1 %}
						<div class="mb-1 text-muted">
							Commentaires :
							{{ countApproved}}
						</div>
					{% else %}
						<div class="mb-1 text-muted">
							Aucun commentaire
						</div>
					{% endif %}


					<p class="card-text">
						{{ post.content|u.truncate(50, '...', true) }}
					</p>
					<a href="{{ path('post_get_post_by_slug', { slug: post.slug}) }}" class="btn btn-primary  btn-sm">
						Continuer&nbsp;&agrave;&nbsp;lire...
					</a>
				{% else %}
					<div class="d-flex flex-row">
						<div class="mb-1 text-muted">
							Publi&eacute;&nbsp; :
							{{ post.updatedAt|ago(locale='fr') }}
						</div>
						<div class="mb-1 text-muted ms-5">
							Auteur&nbsp;:
							{{ post.user.pseudo|capitalize }}
						</div>
					</div>
					<p class="card-text">
						{{ post.content|nl2br }}
					</p>

					{% if is_granted("ROLE_USER") %}
						{% if app.user %}
							<a href="{{ path('post_edit_post_by_slug', { slug: post.slug}) }}" class="btn btn-primary  btn-sm mt-2">
								Modifier&nbsp;l&apos;article
							</a>
							<a href="#" class="btn btn-danger  btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalDelete">
								Supprimer&nbsp;l	&apos;article
							</a>
							{% include "partials/modal/_modal_confirm_delete.html.twig" %}
						{% endif %}
					{% endif %}

				{% endif %}
			</div>
		</div>
	</div>
