<li class="nav-item">
	<a class="nav-link btn btn-outline-primary btn-sm m-2
	{{ app.request.attributes.get('_route') == 'post_get_all_posts' ? 'active' : '' }}" aria-current=" tous les articles" href="{{ path('post_get_all_posts') }}">
		Tous les articles publi&eacute;s
	</a>
</li>