<li class="nav-item">
	<a class="nav-link btn btn-outline-primary btn-sm m-2
	{{ app.request.attributes.get('_route') == 'post_get_unpublihed_posts_connected_user' ? 'active' : '' }}" aria-current=" tous les articles non publiés" href="{{ path('post_get_unpublihed_posts_connected_user') }}">
		Tous les articles non publi&eacute;s
	</a>
</li>