<li class="nav-item">
	<a class="nav-link btn btn-outline-primary btn-sm m-2
		{{ app.request.attributes.get('_route') == 'post_get_published_posts_connected_user' ? 'active' : '' }}" aria-current=" tous les articles" href="{{ path('post_get_published_posts_connected_user') }}">
			Tous les articles publi&eacute;s
	</a>
</li>