<li class="nav-item">
	<a class="nav-link btn btn-outline-primary btn-sm m-2
		{{ app.request.attributes.get('_route') == 'home_get_the_last_ten_posts' ? 'active' : '' }}" href="{{ path('home_get_the_last_ten_posts') }}">
		Accueil
	</a>
</li>