<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">


	<div class="modal-dialog  modal-dialog-centered">


		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalDeleteLabel">Suppression de l'article
					{{ post.title }}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				êtes vous sur de vouloir supprimer ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" data-bs-toggle="tooltip" title="Annuler">Annuler</button>
				<a href="{{ path('post_delete_post_by_slug', { slug: post.slug}) }}" class="btn btn-danger  btn-sm" data-bs-toggle="tooltip" title="Supprimer l'article">Supprimer</a>

			</div>
		</div>
	</div>
</div>
