<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">


	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="commentModalLabel">
					Nouveau commentaire
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				{{ form_start(form) }}
				{{ form_row(form.email) }}
				{{ form_row(form.nickname) }}
				{{ form_row(form.content) }}
				{{ form_row(form.rgpd) }}
				{{ form_row(form.envoyer) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
