{% extends 'base.security.html.twig' %}

{% block body_id 'error' %}

{% block main %}
	<div class="d-flex align-items-center justify-content-center vh-100">
		<div class="text-center">
			<h1 class="display-1 fw-bold">
				500
			</h1>
			<p class="fs-3">
				<span class="text-danger">
					Opps!
				</span>
				Une erreur s'est produit
			</p>
			{% if (not app.user) or (is_granted("ROLE_ADMIN")) %}
				<a href="{{ path('home_get_the_last_ten_posts') }}" class="btn btn-primary">
				{% else %}
					<a href="{{ path('post_get_published_posts_connected_user') }}" class="btn btn-primary">
					{% endif %}
					Retour Accueil
				</a>
			</div>
		</div>
	{% endblock %}
