<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		{% if (not app.user) or (is_granted("ROLE_ADMIN")) %}
			<a class="navbar-brand" href="{{ path('home_get_the_last_ten_posts') }}">
				Mon Blog
			</a>
		{% else %}
			<a class="navbar-brand" href="{{ path('post_get_published_posts_connected_user') }}">
				Mon Blog
			</a>
		{% endif %}
	</div>
</nav>
