<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand m-2" href="{{ path('home_get_the_last_ten_posts') }}">
		Mon Blog
	</a>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			{% include "partials/links/_link_home.html.twig" %}
		</ul>
	</div>
</nav>
