<nav class="navbar navbar-expand-lg navbar-light bg-light">
	{% if (not app.user) or (is_granted("ROLE_ADMIN")) %}
		<a class="navbar-brand m-2" href="{{ path('home_get_the_last_ten_posts') }}">
			Mon Blog
		</a>
	{% else %}
		<a class="navbar-brand m-2" href="{{ path('post_get_published_posts_connected_user') }}">
			Mon Blog
		</a>
	{% endif %}

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarToggler">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			{% if (not app.user)  or (is_granted("ROLE_ADMIN")) %}
				{% include "partials/links/_link_home.html.twig" %}
				{% include "partials/links/_link_publishedposts.html.twig" %}
			{% else %}
				{% include "partials/links/_link_publishedpostsuser.html.twig" %}
				{% include "partials/links/_link_unpublishedpostsuser.html.twig" %}
			{% endif %}

			{% include "partials/dropdown/_dropdown_category_navbar.html.twig" %}

		</ul>

		{% if (app.current_route == 'post_get_published_posts_connected_user') %}
			<form class="d-flex" action="{{ path('post_get_published_posts_connected_user') }}">
			{% elseif (app.current_route == 'post_get_unpublihed_posts_connected_user') %}
				<form class="d-flex" action="{{ path('post_get_unpublihed_posts_connected_user') }}">
				{% else %}
					<form class="d-flex" action="{{ path('post_get_all_posts') }}">
					{% endif %}

					<input class="form-control m-2" type="search" placeholder="Rechercher..." aria-label="Search" name="q" value="{{ app.request.query.get('q') }}">
					<button class="btn btn-outline-warning m-2" type="submit">
						Rechercher
					</button>
				</form>

				<div class="d-flex justify-content-end me-2">
					<div class="col">
						<ul class="navbar-nav ms-lg-2 my-lg-0 my-sm-2 mb-lg-0">
							{% if app.user %}
								{% include "partials/links/_link_publish_post.html.twig" %}

								{% if is_granted('ROLE_ADMIN') %}
									{% include "partials/links/_link_admin.html.twig" %}
								{% endif %}

								{% include "partials/links/_link_logout.html.twig" %}
							{% endif %}
						</ul>
					</div>
				</div>


				<div class="d-flex justify-content-end me-2">
					<div class="col">
						<ul class="navbar-nav ms-lg-2 my-lg-0 my-sm-2 mb-lg-0">
							{% if  not app.user %}
								{% include "partials/links/_link_signup.html.twig" %}
								{% include "partials/links/_link_signin.html.twig" %}
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</nav>
