{% extends 'base.security.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body_id 'security_login' %}

{% block body %}
	<main class="container" id="modal-login">
		<div class="row">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				{% if app.user %}
					<div class="alert alert-warning mb-3">
						Vous êtes  déjà connecté
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}

				<h1 class="mx-auto my-5 font-weight-normal text-center">Connexion</h1>
				<label for="inputEmail" class="form-label required">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
				<label for="inputPassword" class="form-label required">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{% include "partials/_submit_button.html.twig" %}
			</form>

		</div>
	</main>
{% endblock %}
